{% extends './index.html' %}
{% load static %}
{% block body_block %}

<link rel="stylesheet" href="{% static '/css/customer_createcustomer.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>





<body>
    
    
    <div class="nav">
        <h1>Create Customer</h1>
        <p>creating a new Customer!!</p>
    </div>
    <div class="main-section" style="margin-bottom: 40px;">
        <div class="main-left">
            <img src="{% static 'img/customer_img.jpg' %}" alt="">

        </div>
        <div class="main-right">
            <div class="a1">
                <input type="text" placeholder="Enter Your Name"  id="user_name" name="user_name" required>
                <input type="text" placeholder="Enter Your Mobile Number" maxlength="10" minlength="10"  id="mobile_no" name="mobile_no" required>
            
            </div>

            <div class="a1">
                <input type="text" placeholder="Enter Your EmailId"  id="email" name="email" required>
                <select name="" id="utype" style="width: 300px; height:40px" >
                    <option value="" disabled selected>Account Type</option>
                    <option value="Savings">Savings</option>
                    <option value="Current">Current</option>
                    <option value="Loan">Loan</option>
                    <option value="Salary">Salary</option>
                
                </select>
                
                <!-- <input type="text" placeholder="Enter Your Intrested Product" required> -->

            </div>

            <div class="a2">
                <input type="text" placeholder="Type Your Message" id="message" name="message">

            </div>
            <br>
            <div class="a2">
                <input type="text" placeholder="Enter User Balance" id="balance" name="balance">

            </div>

            <br>
            <button id="but" onclick="redirect()">Next</button>


        </div>

    </div>

    <script>
        function redirect()
        {
          
            var name = $('#user_name').val();
            var mobileno = $('#mobile_no').val();
            var mail =$('#email').val();
            var utype = $('#utype').val();
            var Message =$('#message').val();
            var balance =$('#balance').val();
            
    
            $.ajax({
            type:'POST',
            url:'/customer/create_account' ,
            data : {"username":name , "email": mail, "mobile":mobileno ,"utype":utype,"message":Message, "balance":balance },
            success: function(data)
            {
                alert("success");
                window.location.replace("/customer/document");
            }
           });

        }






    </script>
   
</body>
</html>
{% endblock%}